<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="inc/head.html">
<title>服务消费者- CBS服务治理控制台</title>
</head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:include="inc/top.html"></div>
			<div class="wrapper wrapper-content">
				<div class="row col-lg-13 ibox ibox-content">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover dataTable dtr-inline" role="grid">
							<tr role="row">
								<th class="center" style="width: 171px;">服务名称</th>
								<th class="center" style="width: 215px;">-</th>
								<th class="center" style="width: 200px;">-</th>
								<th class="center" style="width: 147px;">-</th>
								<th class="center" style="width: 110px;">-</th>
							</tr>
							<tr th:each="item : ${serviceProducers}" th:class="${item.odd}? 'odd'">
								<td th:text="${item.serviceName}"></td>
								<td th:text=""></td>
								<td th:text=""></td>
							</tr>
						</table>
					</div>

				</div>
			</div>

		</div>
		#include("/views/inc/bottom.vm")

	</div>
</body>
</html>
