<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="FileAppender" fileName="logs/console.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>

		<!-- 发现Async 好像PatternLayout的输出格式配置的和输出的格式不一样，不用异步就完全一样 -->
		<Async name="AsyncAppender">
			<AppenderRef ref="FileAppender" />
		</Async>
	</Appenders>

	<Loggers>
		<Logger name="AsyncFileLogger" level="trace" additivity="true">
			<AppenderRef ref="AsyncAppender" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>