<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="inc/head.html">
<title>首页- CBS服务治理控制台</title>
</head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:include="inc/top.html"></div>
			<div class="wrapper wrapper-content">
				<div class="row col-lg-13 ibox ibox-content">
					<div class="row">
						<div class="col-lg-13">
							<!-- delete start -->
							<div class="ibox ibox-content">
								<h2>欢迎使用查博士服务治理控制台.</h2>
								<small>You have 42 messages and 6 notifications.</small>
							</div>
							<!-- delete end -->
						</div>
					</div>
					<div class="row">
						<div class="row">
							<div class="col-lg-6">
								<div class="ibox float-e-margins">
									<div class="ibox-title">
										<h5>实例一</h5>
										<div class="ibox-tools">
											<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
											</a> <a class="dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="fa fa-wrench"></i>
											</a>
											<ul class="dropdown-menu dropdown-user">
												<li><a href="#">选择一</a></li>
												<li><a href="#">选择二</a></li>
											</ul>
											<a class="close-link"> <i class="fa fa-times"></i>
											</a>
										</div>
									</div>
									<div class="ibox-content">
										<h1>欢迎使用查博士服务治理控制台.</h1>
										<h2>欢迎使用查博士服务治理控制台.</h2>
										<h3>欢迎使用查博士服务治理控制台.</h3>
										<h4>欢迎使用查博士服务治理控制台.</h4>
										<h5>欢迎使用查博士服务治理控制台.</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="ibox float-e-margins">
									<div class="ibox-title">
										<h5>实例二</h5>
										<div class="ibox-tools">
											<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
											</a> <a class="dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="fa fa-wrench"></i>
											</a>
											<ul class="dropdown-menu dropdown-user">
												<li><a href="#">选择一</a></li>
												<li><a href="#">选择二</a></li>
											</ul>
											<a class="close-link"> <i class="fa fa-times"></i>
											</a>
										</div>
									</div>
									<div class="ibox-content">
										<h1>Welcome to CBS scheduling system.</h1>
										<h2>Welcome to CBS scheduling system.</h2>
										<h3>Welcome to CBS scheduling system.</h3>
										<h4>Welcome to CBS scheduling system.</h4>
										<h5>Welcome to CBS scheduling system.</h5>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			#include("/views/inc/bottom.vm")

		</div>
	</div>
</body>
</html>
